
{% load widget_tweaks %}

<form action="{% url 'eliminar_evaluacion_proveedor' object.id %}" class="form" role="form"  method="post">

					
					
            <div class="modal-header">

				<h3>Eliminar Evaluacion de proveedor</h3>
            </div>
					
					
            <div class="modal-body">
					{% csrf_token %}
					¿Estas seguro de eliminar "Evaluacion {{ object.id }}" ?
					<br><br>
			</div>
					

					
			<div class="modal-footer">  
	
			<button type="submit" name="save2" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
			<button type="submit" name="cancel2" class="btn btn-default" ><span class="glyphicon glyphicon-remove"></span> No</button>	

			
			
			</div>  
								
</form>