
{% extends "base.html" %}
{% load staticfiles %}

		{% block contenido %}

		     <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Gestion de Proveedores</h1>
                    </div>
                    <!-- /.col-lg-12 -->
             </div>
			 
			 
            {% include "Procesos/Proveedores/tabs.html" %}
			
				<h3>Ver Reevaluaciones de Proveedores</h3><br>
				
				<a href="/nueva_Reevaluacion_proveedor"><button class="save btn btn-success"><span class="glyphicon glyphicon-plus"></span></button></a>
				
				<br><br>
					<table class="table table-striped table-bordered table-hover">
						<thead>
						  <tr>
							<th>#</th>
							<th>Evaluacion</th>
							<th>Proveedor</th>
							<th>Concepto</th>
							<th>Puntaje</th>
							
							
							<th>Edit</th>
							<th>Delete</th>
						  </tr>
						</thead>
						<tbody>
						  {%for item in evaluacion%} 
							<tr>
							<td>{{ item.id}}</td>
							<td>{{ item.evaluacion}}</td>
							<td>{{ item.proveedor}}</td>
							<td>{{ item.concepto}}</td>
							<td>{{ item.puntaje}}</td>
							
							
							
							<td><a href="{% url 'editar_reevaluacion_proveedor' item.id  %}" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit"><span class="glyphicon glyphicon-pencil"></span></button></a></td>
							<td><a href="{% url 'eliminar_reevaluacion_proveedor' item.id %}" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete"><span class="glyphicon glyphicon-trash"></span></button></a></li></td>
   
							
							</tr>
						  {%endfor%}
						</tbody>
					  </table>
		
         
		{% endblock contenido %}
		