

  <style>
  
  #nav40.affix  {
      top: 0px;
      width: 100%;
	  z-index:150;
  }

  
  #nav40 {
    background-color: #e3f2fd;;
    border-color: #E7E7E7;
} 

  </style>
  


 <ul id="nav40" class="nav nav-tabs" data-spy="affix" data-offset-top="197">
	<li role="presentation" class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
		Informes <span class="caret"></span>
		</a>
			<ul class="dropdown-menu">
				<li><a href="/mostrar_Resumen_proveedores">Informes</a></li>
			</ul>
	</li>



	
					  <li role="presentation" class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
						Informacion <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">

							<li role="presentation"><a href="/mostrar_Desempeno">Desempeno</a></li>
							<li role="presentation"><a href="/mostrar_Ponderacion">Ponderacion</a></li>
							<!--<li role="presentation"><a href="/mostrar_Inicio_evaluacion">Evaluacion</a></li>-->
						
						</ul>
					  </li>

					  
								  


				  <li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Evaluacion<span class="caret"></span>
					</a>
					
						<ul class="dropdown-menu">

						<li role="presentation"><a href="/mostrar_Evaluacion_proveedor">Mostrar todos</a></li>
						
						</ul>					
				  </li>	
				  
				  

				  <!--
				  <li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Por Desempeno<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="/mostrar_Reevaluacion_proveedor">Mostrar</a></li>
					</ul>
				  </li>	
				-->
					  
					  

</ul>








<!--

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a href="/mostrar_Resumen_proveedores">
        Informes</a>
      </h4>
    </div>		
	
	</div>
</div>	

  
  
<div class="panel-group" id="accordion">


  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Informacion</a>
      </h4>
    </div>		
	
		<div id="collapse1" class="panel-collapse collapse in">

			<ul class="nav nav-tabs">
				  <li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Desempeno <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="/nuevo_Desempeno">Nuevo</a></li>
						<li role="presentation"><a href="/mostrar_Desempeno">Mostrar</a></li>
					</ul>
				  </li>

				  <li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Ponderacion <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="/nueva_Ponderacion">Nuevo</a></li>
						<li role="presentation"><a href="/mostrar_Ponderacion">Mostrar</a></li>
					</ul>
				  </li>

			</ul>
				
		</div>
	</div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Evaluaciones de Proveedores Anual</a>
      </h4>
    </div>		
	
		<div id="collapse1" class="panel-collapse collapse in">

			<ul class="nav nav-tabs">
				  <li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Creacion de Evaluacion <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="/nuevo_Inicio_evaluacion">Nuevo</a></li>
						<li role="presentation"><a href="/mostrar_Inicio_evaluacion">Mostrar</a></li>
					</ul>
				  </li>

				  <li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Evaluacion de Proveedores<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="/nueva_Evaluacion_proveedor">Nuevo</a></li>
						<li role="presentation"><a href="/mostrar_Evaluacion_proveedor">Mostrar</a></li>
					</ul>
				  </li>

				  <li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Reevaluacion de Proveedores<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="/nueva_Reevaluacion_proveedor">Nuevo</a></li>
						<li role="presentation"><a href="/mostrar_Reevaluacion_proveedor">Mostrar</a></li>
					</ul>
				  </li>
				  
			</ul>
				
		</div>
	</div>
	
</div>

-->