

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a href="/mostrar_Resumen_seguridad">
        Informes</a>
      </h4>
    </div>		
	
	</div>
</div>	


  
  
<div class="panel-group" id="accordion">


  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Informacion</a>
      </h4>
    </div>		
	
		<div id="collapse1" class="panel-collapse collapse in">

			<ul class="nav nav-tabs">
				  <li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Activos <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="/nuevo_Activo">Nuevo</a></li>
						<li role="presentation"><a href="/mostrar_Activo">Mostrar</a></li>
					</ul>
				  </li>

				  <li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Amenazas <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="/nueva_Amenaza">Nuevo</a></li>
						<li role="presentation"><a href="/mostrar_Amenaza">Mostrar</a></li>
					</ul>
				  </li>
				  
				  <li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Prioridad de Riesgos <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="/nueva_Prioridad_riesgo">Nuevo</a></li>
						<li role="presentation"><a href="/mostrar_Prioridad_riesgo">Mostrar</a></li>
					</ul>
				  </li>
				  
				  <li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Calificacion de Conocimientos <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="/nueva_Calificacion_conocimientos">Nuevo</a></li>
						<li role="presentation"><a href="/mostrar_Calificacion_conocimientos">Mostrar</a></li>
					</ul>
				  </li>
				 
				  <li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Calificacion de Checklist <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="/nueva_Calificacion_checklist">Nuevo</a></li>
						<li role="presentation"><a href="/mostrar_Calificacion_checklist">Mostrar</a></li>
					</ul>
				  </li>
				 
			</ul>
				
		</div>
	</div>


	
	
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Tratamiento de Riesgos</a>
      </h4>
    </div>		
	
		<div id="collapse2" class="panel-collapse collapse in">

			<ul class="nav nav-tabs">
				  <li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Registro de Riesgos <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="/nuevo_Riesgo">Nuevo</a></li>
						<li role="presentation"><a href="/mostrar_Riesgo">Mostrar</a></li>
					</ul>
				  </li>

				  <li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Analisis de Riesgos <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="/nuevo_Analisis_riesgo">Nuevo</a></li>
						<li role="presentation"><a href="/mostrar_Analisis_riesgo">Mostrar</a></li>
					</ul>
				  </li>
				  
				  
			</ul>
			
				
		</div>
	</div>	
	
	
<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Politicas de Seguridad</a>
      </h4>
    </div>		
	
		<div id="collapse3" class="panel-collapse collapse in">

			<ul class="nav nav-tabs">
				  <li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Cuestionario de Conocimientos de Politicas <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="/nuevo_Cuestionario">Nuevo</a></li>
						<li role="presentation"><a href="/mostrar_Cuestionario">Mostrar</a></li>
					</ul>
				  </li>
				  <li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Resultado de Cuestionario de Conocimientos <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="/nuevo_Resultado_cuestionario">Nuevo</a></li>
						<li role="presentation"><a href="/mostrar_Resultado_cuestionario">Mostrar</a></li>
					</ul>
				  </li>
				  
			</ul>
				
		</div>
	</div>	
	
	
<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
        Auditoria de Seguridad</a>
      </h4>
    </div>		
	
		<div id="collapse4" class="panel-collapse collapse in">

			<ul class="nav nav-tabs">
				  <li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Creacion de Auditoria <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="/nueva_Auditoria_seguridad">Nuevo</a></li>
						<li role="presentation"><a href="/mostrar_Auditoria_seguridad">Mostrar</a></li>
					</ul>
				  </li>

				  <li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Checklist de Seguridad <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="/nuevo_Checklist_seguridad">Nuevo</a></li>
						<li role="presentation"><a href="/mostrar_Checklist_seguridad">Mostrar</a></li>
					</ul>
				  </li>
				  
				  <li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Resultado de Checklist <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="/nuevo_Resultado_checklist">Nuevo</a></li>
						<li role="presentation"><a href="/mostrar_Resultado_checklist">Mostrar</a></li>
					</ul>
				  </li>
				  
			</ul>
				
		</div>
	</div>	
	
</div>