
{% extends "base.html" %}
{% load staticfiles %}

		{% block contenido %}

		     <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Gestion de Problemas</h1>
                    </div>
                    <!-- /.col-lg-12 -->
             </div>
			 
			 
            {% include "Procesos/Problemas/tabs.html" %}
			
				<h3>Ver Cierres de Problemas</h3><br>
				
				<a href="/nuevo_Cierre_problema"><button class="save btn btn-success"><span class="glyphicon glyphicon-plus"></span></button></a>
				
				<br><br>
					<table class="table table-striped table-bordered table-hover">
						<thead>
						  <tr>
							<th>#</th>
							<th>Problema</th>
							<th>Asignacion</th>
							<th>Fecha Cierre</th>
							<th>Error Conocido</th>
							
							
							<th>Edit</th>
							<th>Delete</th>
						  </tr>
						</thead>
						<tbody>
						  {%for item in cierre%} 
							<tr>
							<td>{{ item.id}}</td>
							<td>{{ item.problema}}</td>
							<td>{{ item.asignacion}}</td>
							<td>{{ item.fecha_cierre}}</td>
							<td>{{ item.error_conocido}}</td>
							
							
							<td><a href="{% url 'editar_cierre_problema' item.id  %}" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit"><span class="glyphicon glyphicon-pencil"></span></button></a></td>
							<td><a href="{% url 'eliminar_cierre_problema' item.id %}" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete"><span class="glyphicon glyphicon-trash"></span></button></a></li></td>
   
							
							</tr>
						  {%endfor%}
						</tbody>
					  </table>
		
         
		{% endblock contenido %}
		