

  <style>
  
  #nav30.affix  {
      top: 0px;
      width: 100%;
	  z-index:150;
  }

  
  #nav30 {
    background-color: #e3f2fd;;
    border-color: #E7E7E7;
} 

  </style>
  


 <ul id="nav30" class="nav nav-tabs" data-spy="affix" data-offset-top="197">
	<li role="presentation" class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
		Informes <span class="caret"></span>
		</a>
			<ul class="dropdown-menu">
				<li><a href="/mostrar_Resumen_problemas">Informes</a></li>
			</ul>
	</li>



	
					  <li role="presentation" class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
						Problema <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li role="presentation"><a href="/crear_Problema/#section1">Nuevo</a></li>
							<li role="presentation"><a href="/mostrar_Problema">Mostrar todos</a></li>
						</ul>
					  </li>


</ul>

<!--

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a href="/mostrar_Resumen_problemas">
        Informes</a>
      </h4>
    </div>		
	
	</div>
</div>	

  
  
<div class="panel-group" id="accordion">


  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Nuevo</a>
      </h4>
    </div>		
	
		<div id="collapse1" class="panel-collapse collapse in">

			<ul class="nav nav-tabs">
				  <li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Abrir Problema <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="/nuevo_Problema">Nuevo</a></li>
						<li role="presentation"><a href="/mostrar_Problema">Mostrar</a></li>
					</ul>
				  </li>

				  <li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Asignar Analista <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="/nueva_Asignacion_problema">Nuevo</a></li>
						<li role="presentation"><a href="/mostrar_Asignacion_problema">Mostrar</a></li>
					</ul>
				  </li>


			</ul>
				
		</div>
	</div>
	
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Seguimiento</a>
      </h4>
    </div>		
	
		<div id="collapse1" class="panel-collapse collapse in">

			<ul class="nav nav-tabs">

				  <li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Seguimiento de Problema <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="/nuevo_Seguimiento_problema">Nuevo</a></li>
						<li role="presentation"><a href="/mostrar_Seguimiento_problema">Mostrar</a></li>
					</ul>
				  </li>

			</ul>
				
		</div>
	</div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Cierre</a>
      </h4>
    </div>		
	
		<div id="collapse1" class="panel-collapse collapse in">

			<ul class="nav nav-tabs">
				  
				  <li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Cierre de Seguimiento <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="/nuevo_Cierre_problema">Nuevo</a></li>
						<li role="presentation"><a href="/mostrar_Cierre_problema">Mostrar</a></li>
					</ul>
				  </li>

			</ul>
				
		</div>
	</div>
	
</div>


-->