
{% extends "base.html" %}
{% load staticfiles %}

		{% block contenido %}

		     <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Gestion de Cambios</h1>
                    </div>
                    <!-- /.col-lg-12 -->
             </div>
			 
			 
            {% include "Procesos/Cambios/tabs.html" %}
			
				<h3>Ver Seguimientos de responsabilidades</h3><br>
				
				<a href="/nuevo_Seguimiento_responsable"><button class="save btn btn-success"><span class="glyphicon glyphicon-plus"></span></button></a>
				
				<br><br>
					<table class="table table-striped table-bordered table-hover">
						<thead>
						  <tr>
							<th># Seguimiento</th>
							<th>Accion a Realizar</th>
							<th>Fecha Seguimiento</th>
							<th>Descripcion Seguimiento</th>
							
							<th>Edit</th>
							<th>Delete</th>
						  </tr>
						</thead>
						<tbody>
						  {%for item in seguimiento %} 
							<tr>
							<td>{{ item.id}}</td>
							<td>{{ item.responsabilidad_encargado}}</td>
							<td>{{ item.fecha_seguimiento}}</td>
							<td>{{ item.descripcion_seguimiento}}</td>
							
							<td><a href="{% url 'editar_seguimiento_cambio' item.id  %}" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit"><span class="glyphicon glyphicon-pencil"></span></button></a></td>
							<td><a href="{% url 'eliminar_seguimiento_cambio' item.id %}" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete"><span class="glyphicon glyphicon-trash"></span></button></a></li></td>
   
							
							</tr>
						  {%endfor%}
						</tbody>
					  </table>
		
         
		{% endblock contenido %}
		