

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a href="/mostrar_Resumen_peticiones">
        Informes</a>
      </h4>
    </div>		
	
	</div>
</div>	

  
  
<div class="panel-group" id="accordion">


  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Informacion</a>
      </h4>
    </div>		
	
		<div id="collapse1" class="panel-collapse collapse in">

			<ul class="nav nav-tabs">
				  <li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Servicio <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="/nuevo_Servicio">Nuevo</a></li>
						<li role="presentation"><a href="/mostrar_Servicio">Mostrar</a></li>
					</ul>
				  </li>
				  
				  <li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Subcategoria <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="/nueva_Subcategoria">Nuevo</a></li>
						<li role="presentation"><a href="/mostrar_Subcategoria">Mostrar</a></li>
					</ul>
				  </li>

				  <li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Producto <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="/nuevo_Producto">Nuevo</a></li>
						<li role="presentation"><a href="/mostrar_Producto">Mostrar</a></li>
					</ul>
				  </li>

			</ul>
				
		</div>
	</div>



  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Nuevo</a>
      </h4>
    </div>		
	
		<div id="collapse1" class="panel-collapse collapse in">

			<ul class="nav nav-tabs">
				  <li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Abrir Requerimiento o Incidente <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="/nueva_Peticion">Nuevo</a></li>
						<li role="presentation"><a href="/mostrar_Peticion">Mostrar</a></li>
					</ul>
				  </li>

				  <li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Asignar Productos <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="/nueva_Asignacion_producto">Nuevo</a></li>
						<li role="presentation"><a href="/mostrar_Asignacion_producto">Mostrar</a></li>
					</ul>
				  </li>
				  
				  <li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Asignar Analista <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="/nueva_Asignacion_peticion">Nuevo</a></li>
						<li role="presentation"><a href="/mostrar_Asignacion_peticion">Mostrar</a></li>
					</ul>
				  </li>
				  
				  <li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Crear Acuerdo SLA <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="/nuevo_Acuerdo_SLA">Nuevo</a></li>
						<li role="presentation"><a href="/mostrar_Acuerdo_SLA">Mostrar</a></li>
					</ul>
				  </li>

			</ul>
				
		</div>
	</div>
	
	
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Seguimiento</a>
      </h4>
    </div>		
	
		<div id="collapse1" class="panel-collapse collapse in">

			<ul class="nav nav-tabs">

				  <li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Seguimientos de Peticion <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="/nuevo_Seguimiento_peticion">Nuevo</a></li>
						<li role="presentation"><a href="/mostrar_Seguimiento_peticion">Mostrar</a></li>
					</ul>
				  </li>

			</ul>
				
		</div>
	</div>
	

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Cierre</a>
      </h4>
    </div>		
	
		<div id="collapse1" class="panel-collapse collapse in">

			<ul class="nav nav-tabs">

				  <li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Cierre de Peticion <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="/nuevo_Cierre_peticion">Nuevo</a></li>
						<li role="presentation"><a href="/mostrar_Cierre_peticion">Mostrar</a></li>
					</ul>
				  </li>
				  
				  <li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Entregas de Peticion <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="/nueva_Entrega">Nuevo</a></li>
						<li role="presentation"><a href="/mostrar_Entrega">Mostrar</a></li>
					</ul>
				  </li>


			</ul>
				
		</div>
	</div>

	
</div>