		
		
{% load widget_tweaks %}

<form action="{% url 'eliminar_impresora' object.id %}" class="form" role="form"  method="post">

					
					
            <div class="modal-header">
                <!--
				<button type="button" class="close" name="close"
                  data-dismiss="modal" aria-hidden="true">
                  <span class="glyphicon glyphicon-remove-circle"></span>
                </button>
				-->
				<h3>Eliminar Impresora</h3>
            </div>
					
					
            <div class="modal-body">
					{% csrf_token %}
					¿Estas seguro de eliminar "EC {{ object }}" ?
					<br><br>
			</div>
					

					
			<div class="modal-footer">  
	
			<button type="submit" name="save" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
			<button type="submit" name="cancel" class="btn btn-default" ><span class="glyphicon glyphicon-remove"></span> No</button>	

			
			
			</div>  
								
</form>