





  <style>
  
  #nav40.affix  {
      top: 0px;
      width: 100%;
	  z-index:150;
  }

  
  #nav40 {
    background-color: #e3f2fd;;
    border-color: #E7E7E7;
} 

  </style>
  


 <ul id="nav40" class="nav nav-tabs" data-spy="affix" data-offset-top="197">
	<li role="presentation" class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
		Informes <span class="caret"></span>
		</a>
			<ul class="dropdown-menu">
				<li><a href="/mostrar_Resumen_configuracion">Informes</a></li>
			</ul>
	</li>



	
					<li role="presentation" class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
						Informacion <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li role="presentation"><a href="/mostrar_Organizacion">Organizacion</a></li>
							<li role="presentation"><a href="/mostrar_Localidad">Localidad</a></li>
							<li role="presentation"><a href="/mostrar_Grupo">Grupo</a></li>
							<li role="presentation"><a href="/mostrar_Marca">Marca</a></li>
							<li role="presentation"><a href="/mostrar_Modelo">Modelo</a></li>
							<li role="presentation"><a href="/mostrar_Red">Red</a></li>
							<li role="presentation"><a href="/mostrar_Software">Software</a></li>
							<li role="presentation"><a href="/mostrar_Version">Version</a></li>
						</ul>
						
					</li>
						
						
						
						
						
					  </li>
					  
					  
					  <li role="presentation" class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
						Elementos de configuracion <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li role="presentation"><a href="/mostrar_Elementos_configuracion">Mostrar todos</a></li>
						</ul>
					  </li>		






					  


</ul>




<!--

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a href="/mostrar_Resumen_configuracion">
        Informes</a>
      </h4>
    </div>		
	
	</div>
</div>	

  
  
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Informacion</a>
      </h4>
    </div>		
	
		<div id="collapse1" class="panel-collapse collapse in">

  <ul class="nav nav-tabs">

 

  <li role="presentation" class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    Organizacion<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
		<li role="presentation"><a href="/nueva_Organizacion">Nuevo</a></li>
		<li role="presentation"><a href="/mostrar_Organizacion">Mostrar</a></li>
    </ul>
  </li>

  
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    Localidad<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
		<li role="presentation"><a href="/nueva_Localidad">Nuevo</a></li>
		<li role="presentation"><a href="/mostrar_Localidad">Mostrar</a></li>
    </ul>
  </li>
  
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    Grupo<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
		<li role="presentation"><a href="/nuevo_Grupo">Nuevo</a></li>
		<li role="presentation"><a href="/mostrar_Grupo">Mostrar</a></li>
    </ul>
  </li>
  
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    General<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
		<li role="presentation"><a href="/nuevo_Dato_General">Nuevo</a></li>
		<li role="presentation"><a href="/mostrar_Dato_General">Mostrar</a></li>
    </ul>
  </li>
  
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    Marca<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
		<li role="presentation"><a href="/nueva_Marca">Nuevo</a></li>
		<li role="presentation"><a href="/mostrar_Marca">Mostrar</a></li>
    </ul>
  </li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    Modelo<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
		<li role="presentation"><a href="/nuevo_Modelo">Nuevo</a></li>
		<li role="presentation"><a href="/mostrar_Modelo">Mostrar</a></li>
    </ul>
  </li>
  
    <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    Red<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
		<li role="presentation"><a href="/nueva_Red">Nuevo</a></li>
		<li role="presentation"><a href="/mostrar_Red">Mostrar</a></li>
    </ul>
  </li>

    <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    Software<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
		<li role="presentation"><a href="/nuevo_Software">Nuevo</a></li>
		<li role="presentation"><a href="/mostrar_Software">Mostrar</a></li>
    </ul>
  </li>  
  
    <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    Version<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
		<li role="presentation"><a href="/nueva_Version">Nuevo</a></li>
		<li role="presentation"><a href="/mostrar_Version">Mostrar</a></li>
    </ul>
  </li>  
  
			</ul>
		</div>
	</div>
	
	
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Elementos de Configuracion</a>
      </h4>
    </div>
	<div id="collapse2" class="panel-collapse collapse in">
	
	<ul class="nav nav-tabs">
    <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    Impresora<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
		<li role="presentation"><a href="/nueva_Impresora">Nuevo</a></li>
		<li role="presentation"><a href="/mostrar_Impresora">Mostrar</a></li>
    </ul>
  </li>  

    <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    Granja<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
		<li role="presentation"><a href="/nueva_Granja">Nuevo</a></li>
		<li role="presentation"><a href="/mostrar_Granja">Mostrar</a></li>
    </ul>
  </li>  

    <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    Licencia<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
		<li role="presentation"><a href="/nueva_Licencia">Nuevo</a></li>
		<li role="presentation"><a href="/mostrar_Licencia">Mostrar</a></li>
    </ul>
  </li>  
 
    <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    Maquina Virtual<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
		<li role="presentation"><a href="/nueva_Maquina_virtual">Nuevo</a></li>
		<li role="presentation"><a href="/mostrar_Maquina_virtual">Mostrar</a></li>
    </ul>
  </li>   
 
     <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    Vlan<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
		<li role="presentation"><a href="/nueva_Vlan">Nuevo</a></li>
		<li role="presentation"><a href="/mostrar_Vlan">Mostrar</a></li>
    </ul>
  </li>   
 
      <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    Contacto<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
		<li role="presentation"><a href="/nuevo_Contacto">Nuevo</a></li>
		<li role="presentation"><a href="/mostrar_Contacto">Mostrar</a></li>
    </ul>
  </li>   
 
      <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    PC<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
		<li role="presentation"><a href="/nueva_PC">Nuevo</a></li>
		<li role="presentation"><a href="/mostrar_PC">Mostrar</a></li>
    </ul>
  </li>  

      <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    Instalacion<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
		<li role="presentation"><a href="/nueva_Instalacion">Nuevo</a></li>
		<li role="presentation"><a href="/mostrar_Instalacion">Mostrar</a></li>
    </ul>
  </li>     

      <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    Rack<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
		<li role="presentation"><a href="/nuevo_Rack">Nuevo</a></li>
		<li role="presentation"><a href="/mostrar_Rack">Mostrar</a></li>
    </ul>
  </li> 

      <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    Servidor<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
		<li role="presentation"><a href="/nuevo_Servidor">Nuevo</a></li>
		<li role="presentation"><a href="/mostrar_Servidor">Mostrar</a></li>
    </ul>
  </li>  

      <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    Hypervisor<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
		<li role="presentation"><a href="/nuevo_Hypervisor">Nuevo</a></li>
		<li role="presentation"><a href="/mostrar_Hypervisor">Mostrar</a></li>
    </ul>
  </li>   

      <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    Telefono<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
		<li role="presentation"><a href="/nuevo_Telefono">Nuevo</a></li>
		<li role="presentation"><a href="/mostrar_Telefono">Mostrar</a></li>
    </ul>
  </li> 

      <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    Dispositivo de Red<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
		<li role="presentation"><a href="/nuevo_Dispositivo_red">Nuevo</a></li>
		<li role="presentation"><a href="/mostrar_Dispositivo_red">Mostrar</a></li>
    </ul>
  </li> 
  
      <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    Interfaz de Red<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
		<li role="presentation"><a href="/nueva_Interfaz_red">Nuevo</a></li>
		<li role="presentation"><a href="/mostrar_Interfaz_red">Mostrar</a></li>
    </ul>
  </li> 
  
			</ul>
		</div>
	</div>
</div>



-->