

{% extends "base.html" %}
{% load staticfiles %}

		{% block contenido %}

		     <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Gestion de Clientes</h1>
                    </div>
                    <!-- /.col-lg-12 -->
             </div>
			 
			 
            {% include "Procesos/Clientes/tabs.html" %}
			

				<h3>Nuevo Cliente</h3><br>
				  <form method="POST" enctype="multipart/form-data">{% csrf_token %}
						{{ form.as_p }}
						
				  
						<button type="submit" class="save btn btn-default">Save</button>
						<a href="/mostrar_Cliente" class="btn btn-default" role="button">Cancel</a>
					
					</form>
				<br><br>
								
         
		{% endblock contenido %}
		

